* {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, system-ui, 'Segoe UI', 'Liberation Sans', sans-serif;
}

$square-size: 200px;
$intro-screen-margin: 5px;

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    position: relative;
    &.in-game {
        .game-screen {
            display: flex;
        }
        .intro-screen {
            display: none;
        }
    }
    &.end-game {
        filter: blur(1px);
        .game-screen {
            display: flex;
        }
        .intro-screen {
            display: none;
        }
        .end-game-screen-wrapper {
            display: flex;
        }
    }

    .end-game-btn {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .intro-screen,
    .game-screen {
        background-color: #f5f5f5;
    }
    .intro-screen {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        & > p {
            margin-top: $intro-screen-margin;
        }
    }
    form.mode-inputs-wrapper {
        margin-top: calc($intro-screen-margin * 5);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .inputs {
            display: flex;
            width: 70%;
            justify-content: center;
            gap: calc($intro-screen-margin * 3);
            margin-top: calc($intro-screen-margin * 1);
        }
    }
    .game-screen {
        border-radius: 2px;
        display: none;
        flex-direction: column;
        height: 700px;
        width: 800px;
        .game-wrapper {
            position: relative;
            height: 600px;
            width: 100%;
            .square {
                user-select: none;
                position: absolute;
                display: flex;
                height: $square-size;
                width: $square-size;
                background-color: #0095ff;
                justify-content: center;
                align-items: center;
                color: white;
                cursor: pointer;
                border-radius: 2px;
                &:hover {
                    background-color: rgb(28, 135, 211);
                }
                &:active {
                    background-color: #07c;
                }
            }
        }
        .text-wrapper {
            height: 100px;
            width: 100%;
            background-color: #d8d8d8;
            display: flex;
            justify-content: center;
            align-items: center;
            .points {
                user-select: none;
                text-align: center;
                overflow: hidden;
                top: 0;
                left: calc(50% - 100px);
                width: 75px;
            }
        }
    }
}
.container.end-game ~ .end-game-screen-wrapper {
    display: flex;
}
.end-game-screen-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    .end-game-screen {
        text-align: center;
    }
}
.btn {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
    color: #fff;
    cursor: pointer;
    padding: 8px 0.8em;
    width: fit-content;
    margin-top: calc($intro-screen-margin * 2);
    &:hover {
        background-color: #07c;
    }
    &:active {
        background-color: #0064bd;
        box-shadow: none;
    }
}
