* {
    box-sizing: border-box;
    margin: 0;
    font-family:
        -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
}

$square-size: 200px;
$intro-screen-margin: 5px;

.container {
    height: 100vh;
    border: 1px solid green;
    &.in-game {
        .game-screen {
            display: flex;
        }
        .intro-screen {
            display: none;
        }
    }
    .intro-screen,
    .game-screen {
        // border: 1px solid red;
        height: 100vh;
    }
    .intro-screen {
        display: flex;
        align-items: center;
        flex-direction: column;
        .start-game-btn {
            background-color: #0095ff;
            border: 1px solid transparent;
            border-radius: 3px;
            box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
            color: #fff;
            cursor: pointer;
            padding: 8px 0.8em;
            width: fit-content;
            margin-top: calc($intro-screen-margin * 4);
            &:hover {
                background-color: #07c;
            }
            &:active {
                background-color: #0064bd;
                box-shadow: none;
            }
        }

        p {
            margin-top: $intro-screen-margin;
        }
    }
    .game-screen {
        display: none;
        .square {
            display: flex;
            height: $square-size;
            width: $square-size;
            background-color: #0095ff;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;
            border-radius: 2px;
            &:hover {
                background-color: rgb(28, 135, 211);
            }
            &:active {
                background-color: #07c;
            }
        }
    }
}
